@model Practice.DataAccess.Models.Country

<div class="container">
    <div class="row my-4">
        <h3 class="ms-5 ps-5">Update country</h3>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2" asp-validation-summary="All">
            <form asp-controller="Countries" asp-action="Edit" method="post">
                <input asp-for="CountryId" type="hidden"/>
                <table class="w-100">
                    <tr class="m-1">
                        <td class="d-flex justify-content-between"> <strong>@Html.DisplayNameFor(x=>x.CountryName)</strong> <span>:</span></td>
                        <td><input asp-for="CountryName" class="inputField"/></td>
                        <span class="text-danger" asp-validation-for="CountryName"></span>
                    </tr>
                </table>
                <br />
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <table class="w-100">
                            <tr class="d-flex justify-content-between">
                                <td></td>
                                <td><input type="submit" value="Update" class="btn btn-success btn-sm px-3"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
            <br />
            <a asp-action="index" class="btn  btn-primary btn-sm">Go Back</a>
        </div>
    </div>
</div>